{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Products Details{% endblock %}
{% block css %}
.container {
max-width: 960px;
}
.d-block {
display: block!important;
}
.custom-select{
height: calc(2.25rem + 2px);
padding: .375rem 1.75rem .375rem .75rem;
line-height: 1.5;
vertical-align: middle;
background-size: 8px 10px;
border: 1px solid #ced4da;
border-radius: .25rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

{% endblock css %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <h4 class="mb-3">Billing address</h4>
             <form method='post' action="{% url 'home:checkout' %}">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
            {% comment %} 
            <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
                <div class="mb-3">
                    <label for="address">Address</label>
                    {{ form.address }}
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    {{ form.apartment_address }}
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        {{ form.country }}
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        {{ form.pin_code }}
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input {% if form.same_billing_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="same_billing_address" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                        address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input {% if form.save_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="save_address" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                {% for value, name  in form.fields.payment_option.choices %}
                    <div class="custom-control custom-radio">
                        <input id="{{ name }}" name="payment_option" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                    </div>
                {% endfor %}     
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form> {% endcomment %}
        </div>
        <div class="col-md-6 order-md-1">
        {% include 'home/order-snippet.html' %}
        </div>
    </div>
</div>
{% endblock %}