{% extends 'home/base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
.pagination {
  display: inline-block;
  font-size: 22px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
{% endblock css %}
{% load static %}
{% block body %}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-4 g-3">
    {% for item in object_list %}
    <div class="col">
      <div class="card h-100">
        <img src="/media/{{ item.image }}" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">{{ item.get_category_display }}</h5>
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            {% if item.discount_price %}
            ${{ item.discount_price }}
            {% else %}
            ${{ item.price }}
            {% endif %}
          </p>
          <p class="card-text">{{ item.description }}</p>
          <span class="badge badge-pill badge-danger" style="background-color:{{ item.get_label_display }};">New</span>
        </div>
         <div class="card-footer">
           <a href="{{ item.get_absolute_url }}" class="btn btn-primary">View</a>
           <button class="btn btn-dark cart">Add Cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% endif %}
    <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
     {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% endif %}
  </div>
{% endif %}
</div>
{% endblock body %}

{% block custom_script %}

{% endblock custom_script%}